.project__paragraph{
    border-left: 3px solid grey;
    padding: 1rem;
    width: 100%;
}

.project__img{
    width: 60rem;
    margin: 1rem 0;
    border-radius: 1.5rem;
    
}

.project__ul{
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

.project__li{
    color: var(--fontSecondaryColor);
    list-style-type: none;
}

@media screen and (max-width: 700px){
    .project__img{
        width: 55rem;
    }
}

@media screen and (max-width: 600px){
    .project__img{
        width: 30rem;
    }
}

@media screen and (max-width: 400px){
    .project__img{
        width: 20rem;
        border-radius: 1rem;
    }
}

