.project__paragraph{
    border-left: 3px solid grey;
    padding: 1rem;
    width: 100%;
}

.project__ul{
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

.project__li{
    color: var(--fontSecondaryColor);
    list-style-type: none;
}

