.info{
    width: 40vw;
    height: auto;
    padding: 0rem 0rem 4rem 1rem;
    z-index: 1;
}

/* .img-wrapper{
    width: 20vh;
    height: 20vh;
    
    position: absolute;
} */



@media screen and (max-width: 900px) {
    .info{
        width: auto;
        margin: 4rem;
    }
}