.projectsNav{
    height: 50vh;
    width: 20vw;
    padding: 2rem;
}

.projectsNav__ul{
    margin-top: 2rem;
    padding: 2rem;
    border-top: var(--border) 3px solid;
    border-left: var(--border) 3px solid;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}





.projectLink{
    cursor: pointer;
}