.projectsNav{
    height: 50vh;
    min-width: 20vw;
    padding: 4rem;
   
}

.projectsNav__ul{
    margin-top: 2rem;
    padding: 2rem;
    /* border-top: var(--border) 3px solid;
    border-left: var(--border) 3px solid; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}





.projectLink{
    cursor: pointer;
}

@media screen and (min-width: 1000px){
    .projectsNav{
        background: linear-gradient(to left,   rgb(47, 47, 47, 0.6), 10%, rgb(31, 31, 31));
    }
}