.welcome{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}



.welcome__paragraph{
    border-left: 3px solid var(--border);
    padding: 1rem;
    width: 90%;
}

.welcome__img{
    max-width: 50vh;
    margin: 0 auto;
    height: auto;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

@media screen and (max-width: 900px){
    .welcome{
        margin-left: 4rem;
    }
    .welcome__img{
        max-width: 35vh;
        margin: 1rem;
    }
}


@media screen and (max-width: 600px){
    .welcome{
        flex-direction: column;
        margin-left: 4rem;
        width: 80%;
    }

    .welcome__img{
        max-width: 35vh;
        margin: 0 auto;
        margin-top: 10rem;
    }
    
}


