.experience__part{
         background-color: var(--secondaryBackground);
         box-shadow:  0rem 0.5rem 1rem 0 var(--secondaryBackground);
         width: 21rem;
         min-height: 20rem;
         min-height: 20rem;
         color: #f2f2f2;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         padding: 1rem;
         margin: 2rem;
         transition: all 0.5s;
     }

.experience__part:hover{
    cursor: pointer;
}

.experience__part-explain{
    justify-content: flex-start;
    transition: all 0.5s;
}


.experience__part-h3{
         font-size: 3rem;
         padding: 1rem;
}
