.experience{
    width: 10wh;
    height: 60vh;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
    
}



.experience__total h2{
    font-size: 6rem;
    border-bottom: var(--border) 2px solid;
    width: fit-content;
    
}

.experience__total-p{
    font-size: 150%;
    width: 70%;
}

.ma{
    color: #FF00E6
}

.experience__under{
    background-color: var(--secondaryBackground);
    color: white;
    padding: 1rem;
}

.experience__allPart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    transition: all 0.5s;
    background-color: #3f3f3f;
    margin: 2rem;
    padding: 2rem;
}

