*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw ;
}

html{
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: var(--mainBackground);
  
}

h1{
  font-size: 12rem;
  color: var(--fontMainColor);
}

h2{
  font-size: 8rem;
  color: var(--fontMainColor);
}

h3{
  font-size: 4rem;
  color: var(--fontMainColor);
}

p{
  font-size: 1.3rem;
  color: var(--fontMainColor);
}

a{
  color: var(--fontMainColor);
}

:root{
  --mainBackground: #1f1f1f;
  --secondaryBackground: #2f2f2f;
  --fontMainColor: #eee;
  --border: grey;
}
